@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth; /*buscar que hace esto*/
}
.toggle{
    position: fixed; /*position fixed hace que el menu aparezca SIEMPRE en la pantalla. Baje o suba el menu permanece quieto*/
    top:30px;
    right:30px;
    width:50px;
    height:50px;
    background:#000 url(img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor:pointer;
    z-index: 1000;
}
.toggle.active{
    background:#000 url(img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat; 
}
section{
    padding:100px;
    min-height:100vh;
}
.banner{
    position:relative;
    width:100%;
    min-height:100vh;
}
.banner .imgSidebar{
    position: absolute;
    top:0;
    left:0;
    width:500px;
    height:100%;
}
.banner .imgSidebar img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover; /*Hace que se redimencione dentro del espacio disponible del div*/
}
.banner .contentBx, .sidebar{
    position:absolute;
    top:0;
    right:0;
    width: calc(100% - 500px);
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:100px;
}
.logoText{
    position:absolute;
    top:40px;
    left:100px;
    font-size:1.2em;
    text-transform:uppercase;
    letter-spacing:1px;
    background:#333;
    color:#fff;
    padding:0 5px;
}
.banner .contentBx h4{
    font-size:1.5em;
    color:#333;
    font-weight:300;
}
.banner .contentBx h4 span{
    color:#00bcd4;
    font-size:1.5em;
    font-weight:700;
}
.banner .contentBx h2{
    font-size:3em;
    color:#333;
    line-height:1em;
}
p{
    font-size:1.1em;
    margin:20px 0;
    font-weight:300;
}
.btn{
    background:#00bcd4;
    color:#fff;
    padding:10px 30px;
    display:inline-block;
    text-decoration:none;
    font-weight:500;
    letter-spacing: 2px;   
}

.btn:hover{
    background:#02d4f0; /*COLOR DE HOVER BOTON CELESTE*/
}

/* ======== ESTILO DEL MENU DE NAVEGACION ======== */

.sidebar{
    position:fixed;
    background:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.5s;
    padding:40px;
    z-index:100;
    right:-100%;
}
.sidebar.active{
    right:0;
}
.sidebar ul{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column; /*con esta linea hago que el menu se ordene por columnas, es decir que la direccion vaya de arriba hacia abajo*/
}
.sidebar ul li{
    list-style:none;
}
.sidebar ul li a{
    color:#fff;
    text-decoration:none;
    font-size:2em;
    margin:10px 0;
    font-weight:300;
    letter-spacing:2px;
    text-transform:uppercase;
}
.sidebar ul li a:hover{
    color:#00bcd4; /*cambiar a color #444*/
}
/*REDES SOCIALES*/
.sci{
    position:absolute;
    left:110px;
    bottom:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.sci li{
    margin-right:10px;
    list-style:none;
}
.sci li a{
    transform:scale(1.2);
    color:#000;
    width:56px;
    font-size: 22px;
    transition: .1s linear;
    text-decoration: none;
}              
.sci li a:hover{
    color:#00bcd4;
}

.titulo{
    width:100%;
    text-align:center;
}
.titulo h2{
    position:relative;
    color:#00bcd4;
    font-size:1.8em;
    font-weight:700;
    letter-spacing:1px;
}
.titulo p{
    max-width:700px;
    display:inline-block;
}
.titulo h2::before{
    content:"";
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:-10px;
    width:60px;
    height:4px;
    background:#000;
}
.titulo.blanco h2, .titulo.blanco p{
    color:#fff;
}
.titulo.blanco h2::before{
    background:#fff;
}

/* ======== SOBRE MI ======== */

.sobreMi{
    background:#111; /*cambiar color a 111 y probar como queda*/
}
.sobreMi .content{
    display:flex;
    justify-content:space-between;
    margin-top:40px;
}
.sobreMi .content .textBx{
    min-width:49%;
    width:49%;
}
.sobreMi .content .textBx p{
    color:#fff; 
}
/* ======== MIS HABILIDADES ======== */
.sobreMi .content .textBx h2{
    color:#fff;
    font-size:1.8em;
    font-weight:700;
    letter-spacing:1px;
    text-align:center;
}
.sobreMi .content .textBx h3{
    color:#fff;
    font-size:1.6em;
    font-weight:500;
    letter-spacing:1px;
    text-align:center;
}
.sobreMi .content .imgBx{
    margin-left:40px;
}
.sobreMi .content .imgBx img{
    max-width:100%;
    object-fit:cover;
}

.sobreMi .content .textBx .flex ul{
    list-style:none;
    font-size:100px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    letter-spacing:145px;
    margin-left:100px;
    margin-top:30px;
}

/* COLORES DE LOS LOGOS*/
.fa-html5{
    color:#e34c26;
}
.fa-html5:hover{
    color:#ff3300;
}
.fa-css3-alt{
    color:#3367d6;
}
.fa-css3-alt:hover{
    color:#0059ff;
}
.fa-js{
    color:#ffa700;
}
.fa-js:hover{
    color:#fbcd00;
}

/* ======== SERVICIOS ======== */

.servicios .content{
    display:flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
}
.servicios .content .servicesBx{
    padding:40px 20px;
    max-width:400px; 
    margin:20px;
    transition:0.5s;
    text-align:center;
    background:#f5f5f5;
}
.servicios .content .servicesBx:hover{
    background:#222; /*cambiar a 333 o 444*/
}
.servicios .content .servicesBx img{
    max-width:80px;
    transition:0.5s;
}
.servicios .content .servicesBx i{
    max-width:80px;
    transition:0.5s;
}
.servicios .content .servicesBx:hover img{
    filter:invert(1);
}
.servicios .content .servicesBx:hover i{
    filter:invert(1);
}
.servicios .content .servicesBx h2{
    margin-top:20px;
    margin-bottom:10px;
    font-size:20px;
    font-weight:600;
    transition:0.5s;
}
.servicios .content .servicesBx:hover h2{
    color: #fff;
}
.servicios .content .servicesBx p{
    margin:0;
    transition: 0.5s;
}
.servicios .content .servicesBx:hover p{
    color:#fff;
}
/* Tamaño de los logos usados en MIS SERVICIOS */
#cell{
    font-size:85px;
}
#reloj{
    font-size:85px;
    margin-right:20px;
}
#programar{
    font-size:85px;
    margin-right:30px;
}
/* === 47:07 ver de ahi para atras (35:00?) para cambiar de 6 a 4 cuadros y ordenarlos bien en la pantalla === */

/* ======== PROYECTOS ======== */

.proyectos .content{
    display:flex;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
}
.proyectos .content .workBx{
    position:relative;
    width:400px; /*265px cada foto sin son 8 proyectos, 4 por fila?*/
    height:400px;
    margin:20px;
    transition: 0.5s;
    text-align:center;
}
.proyectos .content .workBx .imgBx, .proyectos .content .workBx .textBx{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
}
.proyectos .content .workBx .imgBx img{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   object-fit:cover;
}
.proyectos .content .workBx .textBx{
    background:#000;
    opacity:0;
    transition:0.5;
}
.proyectos .content .workBx:hover .textBx{
    opacity:0.7;
}
.proyectos .content .workBx .textBx h3{
    color:#fff;
    text-transform: uppercase;
    letter-spacing:1px;
    font-size:1.2em;
}
.proyectos .content .workBx .textBx a{
    text-decoration:none;
}

/* ======== CONTACTO ======== */

.contacto{
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column; 
}
.contacto .contactForm{
    position:relative;
    width:700px;
    margin-top:20px;
}
.contacto .contactForm .row{
    width:100%;
    display:flex;
}
.contacto .contactForm .row .col50{
    width:50%;
    margin:10px;
}

.contacto .contactForm .row .col100{
    width:100%;
    margin:10px;
    text-align:center;
}
.contacto .contactForm .row input, .contacto .contactForm .row textarea{
    width:100%;
    padding:10px;
    border:none;
    outline:none;
    background:#222;
    color:#fff;
    font-size:16px;
    resize:none; /*hace que no se pueda agrandar o achicar la caja de texto*/
}
.contacto .contactForm .row textarea{
    height:100px;
}
.contacto .contactForm .row input[type="submit"]{
    background:#00bcd4;
    color:#fff;
    padding:10px 30px;
    display:inline-block;
    font-weight:500;
    letter-spacing:2px;
    cursor:pointer;
    max-width:150px;
}
.contacto .contactForm .row input[type="submit"]:hover{
    background:#02d4f0; /*COLOR DE HOVER BOTON CELESTE*/
}
.copyright {
	color:#fff;
    background:#222;
    text-align: center;
	padding:10px;
}
.copyright p{
    margin:0;
    font-size:16px;
}

/* El selector ::selection CSS pseudo-elemento aplica reglas a una porción de un documento que ha sido destacado (por ejemplo: selección con el mouse o algún otro puntero en un dispositivo) del usuario. */

p::selection { color: white;  background: #02d4f0; }
h3::selection { color: white;  background: #02d4f0; }


@media (max-width:991px){ 
    .banner .imgSidebar{
        display:none;
    }
    .banner .contentBx, .sidebar{
        width:100%;
        padding:40px;
    }
    .logoText{
        left:40px;
    }
    .toggle{
        right:40px;
    }
    .sci{
        left:40px;
    }
    section{
        padding:40px;  
    }
    .sobreMi .content{
        flex-direction: column;
    }
    .sobreMi .content .textBx{
        min-width:100%;
        width:100%;
    }
    .sobreMi .content{
        margin-top:0;
    }
    .sobreMi .content .imgBx{
        margin-left:0;
    }
    .servicios .content .servicesBx{
        padding:30px 20px;
        max-width:340px;
        margin:10px;
    }
    .contacto .contactForm{
        width:100%;
    }
    .contactForm .row{
        width:100%;
        display:flex;
        flex-wrap: wrap;
    }
    .contacto .contactForm .row .col50{
        width:100%;
        margin:10px;
    }
    .sidebar ul li a{
        font-size:1.5em;
    }
 }

@media (max-width: 500px){
    .servicios .content .servicesBx, .proyectos .content .workBx{
        max-width:100%;
        width:100%;
        margin:10px 0;
    }
}

@media (max-width: 360px){ 
    .banner .contentBx, .sidebar{
        width:100%;
        padding:40px;
    }
    .banner .contentBx .btn{
        padding:10px 20px;
    }
}

/* ancho en el que deja de ser responsive 431px. 432 SI ES RESPONSIVE */